@charset "utf-8";
/* CSS Document */
@media all{

:root{
  --PrimaryClr        :#02a15e;
  --WhiteClr          :#ffffff;
  --BlackClr          :#000000;
  --BodyTxtClr        :#000400;
  --TestimonialBG     :#222A33;
  --SkyBlueLight      :#EEFFFC;
  --GryLight          :#f7f7f7;

  --NavClr            :#2E2E2E;
  --NavClrDark        :#CBCBCB;

  --FormBar           :#929292;

  --Bodytext          : 20px; 
  --Font18            : 18px;
  --Font16            : 16px;
  --Font35            : 2.188rem;
  --BodyFont          : "Poppins", sans-serif;
  --AvertaFont        : "averta-regular";

  --HeadingOne        : 3.5rem;  /* 56px */
  --HeadingTwo        : 2.5rem;  /* 40px */
  --HeadingThree      : 1.5rem;   /* 24px  */

  
}

@font-face {
  font-family: "averta-regular";
  src: url('../fonts/averta-extrabold.woff2') format('woff2'),
      url('../fonts/averta-extrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "averta-regular";
  src: url('../fonts/averta-bold.woff2') format('woff2'),
      url('../fonts/averta-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "averta-regular";
  src: url('../fonts/averta-semibold.woff2') format('woff2'),
      url('../fonts/averta-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "averta-regular";
  src: url('../fonts/averta-light.woff2') format('woff2'),
      url('../fonts/averta-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "averta-regular";
  src: url('../fonts/averta-regular.woff2') format('woff2'),
      url('../fonts/averta-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

     
figure,h1,h2,h3,h4,p{padding:0;margin:0}h4,ol,ul,ul ul{-webkit-margin-before:0;-webkit-margin-after:0;-webkit-margin-start:0;-webkit-margin-end:0;-webkit-padding-start:0}:focus,body a,body a:active,input[type=text]:focus,textarea:focus{outline:0}article,aside,dialog,figure,footer,header,hgroup,nav,ol,p,section{display:block}a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,command,datalist,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,source,span,strike,strong,sub,sup{outline:0;vertical-align:baseline}figure,p{-webkit-margin-before:0;-webkit-margin-after:0;-webkit-margin-start:0;-webkit-margin-end:0}ol{list-style-type:decimal}a img,img{vertical-align:middle}a img{border:0}body a:focus{-mos-outline-style:none;outline:0}body:-moz-any-link:focus{outline:0}

html {-webkit-text-size-adjust:none;}
div{vertical-align:top;}
img{max-width:100%; width:auto; height:auto;}
a{cursor:pointer; transition:all 0.2s ease; text-decoration:none;}
a:hover, a:focus{text-decoration:none;}
html {-webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;}
html {position:relative; min-height:100%;}
aside, .right-side, .navbar-collapse{transition:all 0.5s ease;}
button:focus {outline:0px dotted; outline:0px auto -webkit-focus-ring-color;}
.btn.focus, .btn:focus {outline:0; box-shadow:0 0 0 0rem rgb(0 123 255 / 25%);}

::-moz-selection { /* Code for Firefox */
  color: white;
  background:var(--PrimaryClr);
}
::selection {
  color: white;
  background:var(--PrimaryClr);
}

/*Typekit*/
html, body{font-family:var(--BodyFont); color:var(--BodyTxtClr); font-size:var(--Bodytext); font-weight:400; padding:0px; margin:0px;}
p{margin-bottom:15px}

div p:last-child{margin-bottom:0px;}
.form-control:focus{box-shadow:0 0 0 0rem rgba(0,123,255,.25);}
.row:before, .row:after {display:none !important;}

h1, h2, h3, h4, h5, h6{font-family: "averta-regular"; margin-bottom:20px; font-weight:700;}
h1{font-size:var(--HeadingOne);}
h2{font-size:var(--HeadingTwo);}
h3{font-size:var(--HeadingThree);}
h4{font-size:var(--HeadingFour);}
h5{font-size:var(--HeadingFive);}


/*Typekit END*/
.container{max-width:1270px;}
html{font-size:100%;}

.section-pt-100{padding-top: 100px;}
.section-pb-100{padding-bottom: 100px;}
.section-pt-70{padding-top: 70px;}
.section-pb-70{padding-bottom:70px;}
.gap-pb-80{padding-bottom: 80px;}
.gap-pb-60{padding-bottom: 60px;}

.btn-primary,
.btn-secondary{font-size:var(--Font16); font-weight: 500; color: var(--WhiteClr); border: solid 1px var(--WhiteClr); padding: 7px 25px 8px 25px; transition:all 0.5s ease; border-radius:30px;}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active{background:var(--BodyTxtClr); border-color:var(--BodyTxtClr);}

.btn-secondary{padding:12px 2rem; background: linear-gradient(90deg, #02A154 0%, #018E79 100%); border-radius: 30px; border: 0;}
.btn-secondary:hover{background: linear-gradient(90deg, #018E79 0%, #02A154 100%);}
.btn-secondary.has-img img{max-height:12px; vertical-align: baseline; margin-left:5px;}

.btn-outline{font-size:var(--Font16); font-weight: 500; color: var(--WhiteClr); border: solid 1px var(--WhiteClr); padding:9px 25px 10px 25px; transition:all 0.5s ease; border-radius:30px;}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active{background:var(--PrimaryClr); border-color:var(--PrimaryClr);}
.btn-outline.has-img img{max-height:12px; vertical-align: baseline; margin-left:5px;}

.btn-outline-black,
.btn-outline-white{font-size:var(--Font16); font-weight: 500; color: var(--BlackClr); border: solid 1px var(--BlackClr); padding:9px 25px 10px 25px; transition:all 0.5s ease; border-radius:30px;}
.btn-outline-white{color: var(--WhiteClr); border: solid 1px var(--WhiteClr);}

.btn-outline-black.has-img img{max-height:12px; vertical-align: baseline; margin-left:5px;}
.btn-outline-black:hover, .btn-outline-black:focus, .btn-outline-black:active,
.btn-outline-white:hover, .btn-outline-white:focus, .btn-outline-white:active{background:var(--PrimaryClr); border-color:var(--PrimaryClr); color: var(--WhiteClr);}

.blk-arrow img{filter: invert(0%) sepia(15%) saturate(6266%) hue-rotate(61deg) brightness(0%) contrast(100%);}
.btn-outline-black.has-img:hover img{filter:unset;}

.ng-hero{height: calc(100vh - 71px);}
.ng-hero h1{color: var(--WhiteClr); font-weight: 700; max-width: 50%;}


/*  How we work */
.how-we-work{background: var(--SkyBlueLight);}
.hww-grid{grid-template-columns: 1fr 1fr; column-gap: 80px;}
.hww-body p{line-height: 200%; max-width: 83%;}
.hww-body h3{font-size: var(--Font35);}
.hww-body ul{list-style: none; padding: 0px; margin: 0px;}
.hww-body ul li{position: relative; padding-left:20px; padding-bottom: 10px;}
.hww-body ul li::before{content: ''; position: absolute; top:12px; left: 0px; width: 6px; height: 6px; border-radius: 50%; background: var(--BlackClr);}

.multiple-hww-card .hww-grid{padding: 60px 0px; grid-template-columns: 632px 1fr;}
.multiple-hww-card .hww-grid:nth-child(even){grid-template-columns: 1fr 632px;}
.multiple-hww-card .hww-grid:nth-child(even) figure{order: 2;}

/* CTA GROUP */
.cta-group{background: var(--BlackClr);}
.cta-grid{grid-template-columns: 1fr 1fr; column-gap: 80px;}
.cta-info *{margin-bottom: 0px;}
.cta-info{row-gap: 30px;}
.cta-info p{font-size: var(--Font18); line-height: 180%; max-width: 80%;}

/* partner logo section */
.partner-logo-slider {gap: 40px;}
.partner-logo-box {width: 190px; height: 60px;}
.partner-logo-box img {max-width: 100%; max-height: 100%; object-fit: contain;}
.partner-logo-slider img {width: 200px; height: 50px; margin: 0 auto; display: block; padding: 4px;}
.our-partenr-headeing{font-size: 40px;}

/* tnc css*/
.tnc-content{font-size: var(--Font16); line-height:170%;}
.tnc-content h2{font-size: calc( var(--HeadingTwo) - 0.5rem); margin-bottom: 1rem; margin-top:2rem;}
.tnc-content h3{font-size: var(--HeadingThree); margin-bottom:10px; margin-top: 1.4rem;}
.tnc-content ul{list-style: none; padding: 0px; margin: 0px;}
.tnc-content ul li{position: relative; padding-left:20px; padding-bottom: 10px;}
.tnc-content ul li::before{content: ''; position: absolute; top:10px; left: 0px; width:5px; height:5px; border-radius: 50%; background: var(--BlackClr);}

/* sidebar form */
.becomepform{max-height:80vh; overflow: auto;}
 .becomepartner {position: fixed; top: 50%; right: 0; transform: translateY(-50%); z-index: 9999; width: 100%; /*max-width: 450px;} */max-width: 360px;}
.becomepform h2{font-size: 1.7rem; /*border-bottom: solid 1px var(--BlackClr);*/}
.font-16{font-size: 16px;}

.becomepform .form-control{border-bottom: 1px solid var(--FormBar) !important; padding: 4px 4px 4px 0; font-size: 15px;}
.becomepform .form-select{border-bottom: 1px solid var(--FormBar) !important; padding: 4px 4px 4px 0; font-size: 15px;}

.thanks-mg{display: none;color: #02A154;padding: 10px 0px;}
#partnerCountry:focus {outline: none !important; box-shadow: none !important;}
.becomepform .form-control:focus{border-bottom:solid 1px var(--PrimaryClr)!important;}
.becomepform .form-select:focus{border-bottom:solid 1px var(--PrimaryClr)!important;}

.becomepform textarea.form-control{height:70px; resize: none;}

.becomepform .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
color: #212529;
}
.becomepform .form-control::-moz-placeholder { /* Firefox 19+ */
color: #212529;
}
.becomepform .form-control:-ms-input-placeholder { /* IE 10+ */
color: #212529;
}
.becomepform .form-control:-moz-placeholder { /* Firefox 18- */
color: #212529;
}

.error-message {color: red; font-size: 12px; margin-top: 4px;}
.close-btn-partner {position: absolute;z-index: 9999;right: 7px;top: -10px;font-size: 45px;padding: 0 10px 5px 5px;cursor: pointer;}
.closebtn-img{height:30px ; width: 30px;}
.form-lable>label{font-size:11px !important;}
#partnerFormCard>.form-heading{color: #009C5E;}
.form-check-input:checked {background-color: #009C5E;border-color: #009C5E;}

.full-width{grid-column: 1 / -1;}



}

@media all and (max-width:1400px){
  html{font-size:90%;}
  .ng-hero h1{ max-width:75%;}
}

@media all and (max-width:1200px){
  :root{
    --Bodytext          : 16px; 
  }
  .container{max-width:96%;}
  html{font-size:90%;}
  .ng-hero h1{ max-width:61%;}

  .section-pt-100{padding-top:60px;}
  .section-pb-100{padding-bottom:60px;}
  .section-pt-70{padding-top: 60px;}
  .section-pb-70{padding-bottom:60px;}
  .gap-pb-80{padding-bottom:50px;}

  .hww-body p{line-height: 200%; max-width:100%;}

  .hww-grid,
  .hww-grid{column-gap:40px;}

  .multiple-hww-card .hww-grid{padding: 60px 0px; grid-template-columns: 1fr 1fr;}
  .multiple-hww-card .hww-grid:nth-child(even){grid-template-columns: 1fr 1fr;}
}

@media all and (max-width:960px){
  .cta-info p{max-width: 100%;}
  .close-btn-partner {top: 15px;}
}

@media all and (max-width:767px){
  html, body{font-size: 16px; line-height:26px;}
  :root{
    --Bodytext          : 16px; 
    --Font18            : 16px;

    --HeadingOne        : 2.5rem;  /* 60px */
    --HeadingTwo        : 2rem;  /* 44px */
    --HeadingThree      : 1.5rem;   /* 24px  */
  }

  .section-pt-100{padding-top:50px;}
  .section-pb-100{padding-bottom:50px;}
  .section-pt-70{padding-top:50px;}
  .section-pb-70{padding-bottom:50px;}
  .gap-pb-60{padding-bottom:40px;}

  html{font-size:80%;}
  .ng-hero{height: calc(70vh - 71px);}
  .ng-hero h1 {max-width:100%; font-weight: 600;}
  .ng-hero p{line-height: 150%!important;}

  .hww-grid{grid-template-columns:1fr; row-gap:2rem;}
  .cta-grid{grid-template-columns:1fr; row-gap:4rem;}

  .cta-info {row-gap: 20px; text-align: center;}

.multiple-hww-card .hww-grid{padding-top:30px; padding-bottom: 0px; grid-template-columns: 1fr;}
.multiple-hww-card .hww-grid:nth-child(even){grid-template-columns: 1fr;}
.multiple-hww-card .hww-grid:nth-child(even) figure{order: 0;}
    
}

.becomepartneropenclose {opacity: 1;font-size: 40px;}
.crosmark{opacity:0.6;font-size:30px;right:7px;top:3px;}
.termsandcodition{text-decoration: underline;color: black;}
.cep-delivery{font-size: 16px;}


.partner-logo-slider{height:auto; width:100%;padding:20px;}
.partner-logo-slider img{height:55px !important;width:220px !important;padding:1px 15px;}
.mxw200{max-width: 200px;}
img[alt="smartdx"] {
  height: 40px !important;
}
img[alt="resul"] {
  height: 30px !important;
}

@media screen and (max-width:768px){
.crosmark{opacity:0.6;font-size:30px;right:5px;top:10px;}
}