@charset "utf-8";
/* CSS Document */
@media all{

.ng-hero-info{
  background: var(--SkyBlueLight);
}
.ng-hi-card{
  padding: 3.2rem 6rem;
  background: linear-gradient(90deg, #02A056 0%, #029370 100%);
  border-radius: 11px;
  margin-top: -7%;
}

.digital-info{font-size:var(--Font18);}
.digital-info h2{line-height: 3.4rem;}

.home-grp-hd h2{font-size:var(--HeadingThree); font-weight: 400;}
.home-grp-hd h3{font-size: var(--HeadingTwo);}
.home-grp-hd p{font-size: var(--Font18); line-height:180%; max-width: 1000px;}

.approch-section{background: var(--GryLight);}
.help-approch-card{grid-template-columns:1fr 520px; row-gap: 1rem; column-gap:80px;}

.ha-info{row-gap: 30px;}
.ha-info div{padding: 24px 25px 24px 30px; background: #F9F9FA; border: 1px solid #D8D8D8; box-shadow: 0px 4px 2.2px rgba(0, 0, 0, 0.05); border-radius: 10px; transition:all 0.5s ease;}
.ha-info div:hover{background: var(--SkyBlueLight); transform: scale(1.05);}
.ha-info div a{color: var(--BodyTxtClr);}
.ha-info div a h3{color: currentColor; margin-bottom: 15px;}
.ha-info div a p{font-size: 13px; line-height: 200%; color: currentColor;}

.nexgen-section{background: var(--BlackClr);}
.nexgen-section .home-grp-hd h2{font-size: var(--HeadingTwo)}

.nextgen-card h3{font-size: var(--HeadingTwo);}
.nextgen-card h4{font-size: var(--HeadingThree); font-weight: 600;}
.ng-icon{height: 100px; margin-bottom: 20px;}
.ng-icon img{max-height:90px; max-width: 100px;}

 
}

@media (min-width:992px) {
  .ha-md-order{grid-template-columns:520px 1fr;}
  .ha-md-order > div{order:2;}
  .ha-md-order .ha-info{order: 1;}
}

@media all and (max-width:1200px){
  .help-approch-card {grid-template-columns: 1fr 1fr; column-gap: 30px;}
  .ha-info div {padding: 1.4rem;}
  .ha-info div a h3{font-size: 20px; margin-bottom: 0.8rem;}
  .ha-info div a p{line-height:180%;}
  .ha-info {row-gap: 1rem;}

  .ng-hi-card {padding: 3.2rem 3rem;}
}


@media all and (max-width:960px){
  .help-approch-card{grid-template-columns: 1fr;}
}

@media all and (max-width:767px){
  .ng-hi-card{padding: 2rem; margin-top: -20%;}
  .ng-hi-card .btn-primary{padding: 5px 13px 6px 13px; border-radius: 30px; font-size:0.9rem;}    

  .digital-info h2 {line-height: 2.7rem;}
  .nextgen-card{row-gap: 1.4rem;}
}